
 *{
    background-color: #9D3D3D;
    box-sizing: border-box; 
  }

h2{
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

#texto1 {
    padding: 60px 20px 10px 20px;
    border: 3px solid olive;
    font-size:18px;
    background-color:teal;
    color:yellow;
    font-weight: bold;
    font-style: italic;
  }