
 *{
    background-color: #DF3A3A;
    box-sizing: border-box; 
  }

h2{
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

#texto1 {
    padding: 30px 15px 5px 15px;
    border: 3px solid olive;
    font-size:40px;
    background-color:teal;
    color:yellow;
    font-weight: bold;
    font-style: italic;
  }


#texto2 {
    padding: 30px 15px 5px 15px;
    border: 3px solid olive;
    font-size:40px;
    background-color:#B66E6E;
    color:black;
    font-weight: bold;
    font-style: italic;
  }