
 *{
    background-color: cyan;
    box-sizing: border-box; 
  }

h2{
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

#texto1 {
    padding: 60px 20px 10px 20px;
    border: 3px solid olive;
    font-size:18px;
    background-color:teal;
    color:yellow;
    font-weight: bold;
    font-style: italic;
  }

  #highlight {
    background-color: white;
    border:3px solid lime;
    font-size:23px;
    font-weight: bold;
    font-color:black;
    font-style: italic;
    float: center;
    padding: 5px 30px 5px 30px;
}
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
  }
</style>