
 *{
    background-color: turquoise;
    box-sizing: border-box; 
  }

h2{
    margin-bottom: 30px;
    padding-top: 20px;
    text-align: center;
}

#texto1 {
    padding: 60px 20px 10px 20px;
    border: 3px solid olive;
    font-size:18px;
    background-color:teal;
    color:yellow;
    font-weight: bold;
    font-style: italic;
  }

  #highlight {
    background-color: white;
    border:1px solid lime;
    font-size:23px;
    font-weight: bold;
    font-color:black;
    font-style: italic;
    float: center;
    padding: 5px 30px 5px 30px;
}